<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InTouch_AutoFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InTouch_AutoFile.Properties.Settings>
            <setting name="LastContactFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskInbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskSent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskEmailRouting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailRoutingAddresses" serializeAs="String">
                <value>dallasadams@hotmail.com; inta@bigpond.net.au; dallasadams@outlook.com; dallas.adams@outlook.com.au; dallasadams@intacomputers.com; know_one@outlook.com.au; slothie@outlook.com.au; dallas.a.adams@gmail.com;</value>
            </setting>
        </InTouch_AutoFile.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>